<div class="{{darkMode}} home ">
<section class="container about-us p-4">
    <div class="row">
        <div class="col-md-5 col-xs-12 about-img wow animate__fadeIn">
            <img src="../img/—Pngtree—blue department computer website design_5650766.png" alt="">
        </div>
        <div class="col-md-7 col-xs-12 about-content wow animate__fadeIn">
            <h2>{{home[langInd].head}}</h2>
            <p>{{home[langInd].content}}</p>
            <a href="">{{home[langInd].button}} <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
        </div>
    </div>
</section>

<div class="container text-center wow animate__fadeIn">
    <div class="bor"></div>
</div>

<section class="container ser wow animate__fadeIn">
    <h2 class="text-center p-4">{{survice[langInd].head}}</h2>
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12 ser-cont">
            <div class="ser-icon  text-center">
                <i class="fa fa-mobile-alt"></i>
            </div>
            <div  class="text-center">
                <h2>{{survice[langInd].serv[0]}}</h2>
                <p>{{survice[langInd].content}}</p>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12 ser-cont">
            <div class="ser-icon  text-center">
                <i class="fa fa-code"></i>
            </div>
            <div  class="text-center">
                <h2>{{survice[langInd].serv[1]}}</h2>
                <p>{{survice[langInd].content}}</p>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12 ser-cont">
            <div class="ser-icon  text-center">
                <i class="fas fa-photo-video"></i>
            </div>
            <div  class="text-center">
                <h2>{{survice[langInd].serv[2]}}</h2>
                <p>{{survice[langInd].content}}</p>
            </div>
        </div>
        


    </div>
</section>

<section class="bg-img">

</section>

<section class="clint wow animate__fadeIn">
        <div class="jumbotron card card-image" style="background-image: url('../img/sunrise-1756274_1920.jpg');background-size: cover;">
        <div class="text-white text-center py-5 px-4">
          <div>
            <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>{{jump[langInd].head}}</strong></h2>
            <p class="mx-5 mb-5 text-white">{{jump[langInd].content}}</p>
            <a class="btn btn-outline-white btn-md"><i class="fas fa-fire left"></i> {{jump[langInd].button}}</a>
          </div>
        </div>
      </div>

</section>


<section class="product container-fluid p-4 wow animate__fadeIn">
    <h2 class="text-center">{{product[langInd].title}}</h2>

    <button type="button" class="btn btn-outline-secondary btn-sm waves-effect">{{product[langInd].tags[0]}}</button>
    <button type="button" class="btn btn-outline-secondary btn-sm waves-effect">{{product[langInd].tags[1]}}</button>
    <button type="button" class="btn btn-outline-secondary btn-sm waves-effect">{{product[langInd].tags[2]}}</button>
    <button type="button" class="btn btn-outline-secondary btn-sm waves-effect">{{product[langInd].tags[3]}}</button>

    <div class="row p-4">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <img src="../img/1.jpg" alt="">
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <img src="../img/2.jpg" alt="">
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <img src="../img/3.jpg" alt="">
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <img src="../img/4.jpg" alt="">
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <img src="../img/5.jpg" alt="">
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <img src="../img/6.jpg" alt="">
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <img src="../img/5.jpg" alt="">
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <img src="../img/3.jpg" alt="">
        </div>
    </div>
</section>
</div>

